<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- BEGIN - Externals -->
    <sectionGroup name="common">
      <section name="logging" type="Common.Logging.ConfigurationSectionHandler, Common.Logging" />
    </sectionGroup>
    <section name="abot" type="Abot.Core.AbotConfigurationSectionHandler, Abot" />
    <!-- END - Externals -->
    <!-- BEGIN - ConnectorDB -->
    <!-- TODO - make into a sectionGroup for connectors -->
    <section name="dropboxCloudFileIndexService" type="Appleseed.Services.Base.Engine.Configuration.DropBoxCloudFileIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="nutshellCRMApiCrawlerIndexService" type="Appleseed.Services.Base.Engine.Configuration.NutshellCRMApiCrawlerIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="crunchbaseApiCrawlerIndexService" type="Appleseed.Services.Base.Engine.Configuration.CrunchBaseApiCrawlerIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="websiteIndexService" type="Appleseed.Services.Base.Engine.Configuration.WebsiteIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="webcrawlIndexService" type="Appleseed.Services.Base.Engine.Configuration.WebCrawlIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="dbFileIndexService" type="Appleseed.Services.Base.Engine.Configuration.DbFileIndexServiceSection, Appleseed.Services.Base.Engine" />
    <section name="rssIndexService" type="Appleseed.Services.Base.Engine.Configuration.WebsiteIndexServiceSection, Appleseed.Services.Base.Engine" />
    <!-- END - ConnectorDB -->
    <!-- BEGIN - ConfigurationDB -->
    <!-- TODO - make into a sectionGroup for configuration -->
    <section name="queues" type="Appleseed.Base.Data.Utility.QueueSection, Appleseed.Base.Data" />
    <section name="indexes" type="Appleseed.Services.Base.Engine.Configuration.IndexesSection, Appleseed.Services.Base.Engine" />
    <!-- BEGIN - ProcessorDB -->
    <!-- TODO - make into a sectionGroup for processors -->
    <section name="illuminators" type="Appleseed.Services.Base.Engine.Configuration.IlluminatorsSection, Appleseed.Services.Base.Engine" />
    <section name="graphDBs" type="Appleseed.Services.Base.Engine.Configuration.GraphDBsSection, Appleseed.Services.Base.Engine" />
    <!-- END - ProcessorDB -->
    <!-- BEGIN - Other -->
    <!-- TODO - taggingService may need to be moved elsewhere -->
    <section name="taggingService" type="Appleseed.Services.Base.Engine.Configuration.TagServiceSection, Appleseed.Services.Base.Engine" />
    <!-- END - Other -->
  </configSections>
  <common>
    <logging>
      <factoryAdapter type="Common.Logging.NLog.NLogLoggerFactoryAdapter, Common.Logging.NLog20">
        <arg key="level" value="INFO" />
        <arg key="showLogName" value="true" />
        <arg key="showDateTime" value="true" />
        <arg key="dateTimeFormat" value="yyyy/MM/dd HH:mm:ss:fff" />
        <arg key="configType" value="File" />
        <arg key="configFile" value="~/NLog.config" />
      </factoryAdapter>
    </logging>
  </common>
  <!-- Config/IndexDB - These are different indexes. Currently supported :
    - Lucene.NET     - Native Lucene Index in Filesystem
    - SolR           - Apache SolR Index - Tested with SolR 4.10.x and 5.3.x 
    - Elastic Search - Elastic Search Index 
  -->
  <indexes>
    <index name="indexalias1" location="/Services/Appleseed.Search/Data/Public" type="Lucene.NET" collectionName="" />
    <index name="indexalias2" location="/Services/Appleseed.Search/Data/Private" type="Lucene.NET" collectionName="" />
    <index name="indexalias3" location="/Services/Appleseed.Search/Data/konotree.default.com" type="Lucene.NET" collectionName="" />
    <index name="indexalias4" location="http://search-index-elastic:9200/appleseedpublic" type="ElasticSearch" collectionName="" />
    <index name="indexalias5" location="http://search-index-solr:8983/solr/appleseed-public" type="Solr" collectionName="" />
    <index name="indexalias6" location="http://search-index-elastic:9200/appleseedprivate" type="ElasticSearch" collectionName="" />
  </indexes>
  <!-- EXPERIMENTAL - Config/QueueDB - These are different queues to distribute the processing. 
    This is not universally used, but will be the main executing engine. 

    Currently supported :
    - SqlServer - Stores in SqlServer
    - MySQL     - Stores in MySQL Tables 
    - InMemory  - Stores in Memory Collections
    - Lucene    - Stores in Lucene Index
  -->
  <queues>
    <!--<queue name="SqlServer" connectionString="Server=.\SQLEXPRESS; Database=ga;Uid=sa;Pwd=sa123;" tableName="as_Cache_BaseItemCollection"  type="SQL" />connectionString="server=LENOVO-PC\SQLEXPRESS;Trusted_Connection=yes;database=anant"-->
    <!--<queue name="MySql" connectionString="Server=localhost;Database=ga;Uid=sa;Pwd=sa123;"  type="MySql" />-->
    <!--<queue name="InMemory" connectionString=""  type="InMemory" />-->
    <!--<queue name="Lucene" connectionString="" type="Lucene" />-->
    <queue name="queuealias1" connectionString="" queueName="queueName1" type="InMemory" />
    <!--<queue name="queuealias1" connectionString="" queueName="queueName1" type="MySql" />-->
  </queues>
  <!-- Processor/Illuminators - These are different illuminators. Currently supported :
    - AlchemyAPI
    - OpenCalais 
  -->
  <illuminators>
    <illuminator name="Alchemy1" type="Alchemy" apiKey="f660783bc9ee055e294367c8f4683fabde01788e" />
    <!-- 
    <illuminator name ="Alchemy2" type="Alchemy" apiKey="3d70a76c9eea0a39f45a72cd003fb7240d63b0da"/>
    <illuminator name="OpenCalais1" type="OpenCalais" apiKey="x2tpng6ackrwuz4e9tfbqxb6" />
    -->
  </illuminators>
  <!-- Processor/GraphDB - These are different organizers . Currently supported :
    - RavenDB
    - Neo4j 
  -->
  <!-- TODO - need to rename separate organization from GraphDB -->
  <!--<graphDBs>
    <graphDB name="graphDB1" location="C:\Projects\Anant\graphDB1" type="Neo4j" uri="http://localhost:7474/db/data" />
    <graphDB name="nosqlDB1" location="C:\Projects\Anant\nosqlDB1" type="RavenDB" uri="http://localhost:27017" />
  </graphDBs>-->
  <!-- Connector/WebsiteIndex - Indexes a site using the Sitemap XML Format -->
  
  <websiteIndexService>
    <site name="Anant Corporation" siteMapUrl="http://anant.us/sitemap.axd" indexPath="{indexalias1}, {indexalias4}" />
    <!--<site name="AsitChanges" siteMapUrl="http://www.asitchanges.com/sitemap.xml" indexPath="{indexalias1}" />-->
  </websiteIndexService>
 
  <!-- Connector/RSS - Indexes sites by RSS Feed -->
  <rssIndexService>
    <!--
    <site name="Blog - Anant" siteMapUrl="http://blog.anant.us/feed/rss" indexPath="{indexalias1}" /> 
    <site name="AllThingsDigit"
      siteMapUrl="http://allthingsd.com/feed/"
      indexPath="{indexalias1},{indexalias4}" />
    <site name="Techmeme"
      siteMapUrl="http://www.techmeme.com/feed.xml"
      indexPath="{indexalias1},{indexalias4}" />
    <site name="TechCrunch"
      siteMapUrl="http://techcrunch.com/feed/"
      indexPath="{indexalias1},{indexalias4}" />
      -->
  </rssIndexService>
  <!-- Connector/WebCrawl - Indexes a site by crawling it-->
  <!-- <webcrawlIndexService>
    <site name="ANANT.CO" siteMapUrl="http://anant.co/" crawlDepth="100" indexPath="{indexalias2}" connectionString="server=localhost;Trusted_Connection=yes;database=anant" tableName="as_Cache_BaseItemCollection" /> 
  </webcrawlIndexService>-->
  <!-- Connector/DBFiles - Indexes Files on a File System that have been enumerated in a Table by PS Script-->
  <!--<dbFileIndexService>
    <file name="Files" indexPath="{indexalias1}" connectionString="server=localhost;Trusted_Connection=yes;database=anant" tableName="as_Cache_BaseItemCollection" />
  </dbFileIndexService>-->
  <!-- Connector/DropBox - Old DropBox connector -->
  <!--<dropboxCloudFileIndexService>
    <site name="DropBox" appKey="o9rpu9xlor8kcuy" appSecret="vm8tz67814qfpl2" token="kmzr0bnrx8fonlox" tokenSecret="vhprmrzfxshvnfv" indexPath="{indexalias1}" filesPath="C:\Projects\Anant\KonoTree_Files" connectionString="server=localhost;Trusted_Connection=yes;database=anant" tableName="as_Cache_BaseItemCollection" />  
  </dropboxCloudFileIndexService>-->
  <!-- Connector/DropBoxNeo - New DropBox Connector uses Base.Lite Queing Engine -->
  <!--<dropboxCloudFileIndexService>
    <site name="DropBox" appKey="ozr8unyd3xwcxk2" userAgent="destro132" appSecret="" token="Z4jH47fi3ocAAAAAAAAAQ86naKhaZ4mK0_1NgV_G0ZSwDfEiRC2eAk9sm14kK_9E" tokenSecret="" queueName="{queuealias1}" filesPath="C:\Projects\Anant\KonoTree_Files"   />
  </dropboxCloudFileIndexService>-->
  <!--
  <dropboxCloudFileIndexService>
    <site name="DropBox" appKey="o9rpu9xlor8kcuy" appSecret="vm8tz67814qfpl2" token="kmzr0bnrx8fonlox" tokenSecret="vhprmrzfxshvnfv" indexPath="{indexalias1}" filesPath="C:\Projects\Anant\KonoTree_Files" connectionString="server=localhost;Trusted_Connection=yes;database=anant" tableName="as_Cache_BaseItemCollection" />
  </dropboxCloudFileIndexService>
  -->
  <!-- Connector/NutshellCRM - Nutshell CRM Connector -->
  <!--<nutshellCRMApiCrawlerIndexService>
    <site name="Nutshell" apiUrl="https://app01.nutshell.com/api/v1/json" apiKey="192d7e16db82a07062acdd64149c20baa727ac08" apiUserEmail="rahul.singh@anant.us" indexPath="{indexalias1}" connectionString="server=ANANT-PC\SQLEXPRESS;Trusted_Connection=yes;database=anant" tableName="as_Cache_BaseItemCollection" />
  </nutshellCRMApiCrawlerIndexService>-->
  <!-- Connector/CrunchBase - CrunchBase External Data Connector -->
  <!--<crunchbaseApiCrawlerIndexService>
    <site name="CrunchBase" apiUrl="http://api.crunchbase.com/v/2/" apiKey="1d636109dcfc71a7297dd253ac81a7b1" indexPath="{indexalias1}" connectionString="server=localhost;Trusted_Connection=yes;database=anant" tableName="as_Cache_BaseItemCollection" itemsCollected="33" />
  </crunchbaseApiCrawlerIndexService>-->
  <!-- Needs to be made into separate service-->
  <!--<taggingService>
      <site name="Anant" url="http://www.anant.us/" portalId="0" 
        connectionString="server=localhost;uid=;pwd=;Trusted_Connection=yes;database=anant_as_dev" />
      <site name="Anant - DEV" url="http://dev.anant.co" portalId="0" connectionString="server=ANANTWEBSERVER1\ANANTSQL;uid=;pwd=;Trusted_Connection=yes;database=anant_as_dev" />
  </taggingService>-->
  <abot>
    <crawlBehavior maxConcurrentThreads="10" maxPagesToCrawl="1000" maxPagesToCrawlPerDomain="0" maxPageSizeInBytes="0" userAgentString="Mozilla/5.0 (compatible; MSIE 9.0; Windows NT 6.1; abot v@ABOTASSEMBLYVERSION@ http://code.google.com/p/abot)" crawlTimeoutSeconds="0" downloadableContentTypes="text/html, text/plain" isUriRecrawlingEnabled="false" isExternalPageCrawlingEnabled="true" isExternalPageLinksCrawlingEnabled="false" httpServicePointConnectionLimit="200" isForcedLinkParsingEnabled="false" httpRequestTimeoutInSeconds="15" httpRequestMaxAutoRedirects="7" isHttpRequestAutoRedirectsEnabled="true" isHttpRequestAutomaticDecompressionEnabled="false" minAvailableMemoryRequiredInMb="0" maxMemoryUsageInMb="0" maxMemoryUsageCacheTimeInSeconds="0" maxCrawlDepth="100" />
    <politeness isRespectRobotsDotTextEnabled="false" isRespectMetaRobotsNoFollowEnabled="true" robotsDotTextUserAgentString="abot" maxRobotsDotTextCrawlDelayInSeconds="5" isRespectAnchorRelNoFollowEnabled="true" minCrawlDelayPerDomainMilliSeconds="0" />
    <extensionValues>
      <add key="AppleseedSearchVersion" value="0.4" />
      <add key="AppleseedBaseVersion" value="0.0" />
    </extensionValues>
  </abot>
  <!-- AppSettings - Any legacy or global settings -->
  <appSettings>
    <!-- Appleseed.Search -->
    <add key="Appleseed.Search.Version" value="0.5.2.2"/>
    <add key="OpenCalaisApiKey" value="x2tpng6ackrwuz4e9tfbqxb6" />
    <add key="AlchemyApiKey" value="f660783bc9ee055e294367c8f4683fabde01788e" />
    <add key="-AlchemyApiKey" value="3d70a76c9eea0a39f45a72cd003fb7240d63b0da" />
    <!-- Appleseed.Services.Knowledge -->
    <add key="Appleseed_Services_Knowledge_Model_AlchemyAPI_Key" value="f660783bc9ee055e294367c8f4683fabde01788e" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.10.0" newVersion="2.6.10.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="HtmlAgilityPack" publicKeyToken="bd319b19eaf3b43a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.4.7.0" newVersion="1.4.7.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SgmlReaderDll" publicKeyToken="46b2db9ca481831b" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.8.30578" newVersion="1.8.8.30578" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.29.0" newVersion="2.2.29.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="AutoMapper" publicKeyToken="be96cd2c38ef1005" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.3.1.0" newVersion="3.3.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Core" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.API" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.SwingAWT" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="8.0.5449.1" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Media" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Util" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Jdbc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Text" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Security" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Beans" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Naming" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Remoting" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Management" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.Runtime.JNI" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.Misc" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.4.5196.0" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Crypto" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="IKVM.OpenJDK.XML.Bind" publicKeyToken="13235d27fcbfff58" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.5449.1" newVersion="7.4.5196.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging.Core" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.0" newVersion="3.2.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="C5" publicKeyToken="282361b99ded7e8e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4822.42600" newVersion="2.2.4822.42600" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
